/* index.css */

/* 1) Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 2) Global styles */
body {
  @apply font-sans; /* Use Tailwind's default sans-serif stack */
  margin: 0; /* Remove default body margin */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Optional: monospaced font for <code> elements */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
